.menu1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px auto;
    width: 85vw;    
    height: 300vh;
    
    @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px auto;
    width: 65vw;    
    height: 120vh;


    }
    
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;  
        width: 100%;
        height: 100%;
        background-image: url("/Images/Backmenu1.png");
        background-repeat: no-repeat;        
        background-size:cover;        

        @include desktop {
        display: flex;  
        flex-direction: row;
        width: 60%;
        height: 100%;
        background-image: url("/Images/Backmenu1.png");
        background-repeat: no-repeat;
        padding: 10px;
        background-size:cover;

        }
        

        .menu__sweet {            
            width: 90%;
            height: 88%;
            background: red;
            margin: 16px;
            
            
            @include desktop {
            width: 50%;
            height: 88%;
            background: red;
            margin: 20px;

            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .menu__main {
            width: 90%;
            height: 97%;
            background: red;
            margin: 16px;
            
            @include desktop {
            width: 50%;
            height: 97%;
            background: red;
            margin: 20px;

            }
            

            img {
                width: 100%;
                height: 100%;
            }

        }    
    
    }

}